/* Css reset */

* {
    margin: 0;
    padding: 0;
}

/* Css Variables */
*root {
    --navbar-height: 59px
}

/* Navigation bar */

#navbar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 82px;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/*Navigation bar: Logo and Image */
#logo {
    margin: 3px 20px;

}

#logo img {
    height: 75px;
    margin: -10px 6px;
    border-radius: 100px;

}

/*Navigation bar: List styling */
#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai';

}


#navbar ul li {
    list-style-type: none;
    font-size: 1.3rem;

}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home section */
/* #welcome{
    text-shadow: 5px 5px rgb(194, 143, 143); */
/* } */
#home {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url('../pooja-chaudhary-q66grqqHpDQ-unsplash.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;

}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* Services Section */
#services {
    margin: -5px;
    display: flex;

}

#services .box {
    border: 2px solid brown;
    text-align: center;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 23px;
    background: #f2f2f2;

}

#services .box img {
    height: 120px;
    display: block;
    margin: auto;
}
/* client section */
#client-section{
    height: 344px;
}
.client-item{
    padding: 34px;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 115px;
}

/* Utility Classes */
.h-primary {
    font-size: 3rem;
    padding: 12px;
    text-align: center;
    /* font-family: 'Bree Serif', serif; */


}

.h-secondary {
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;

}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    cursor: pointer;
}